.App {
  text-align: center;
  font-size: 12px;
}

  .App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{color: red; font-size: 12px; line-height: 24px;}
.state {
  color:black;
  font-weight: 600;
}
.recover {
  color: green;
  font-weight: 700;
}
.confirmed {
  color: #e67e22;
  font-weight: 700;
}
.death {
  color: red;
  font-weight: 700;
}
.Green{ background-color: green !important; color: green;}
.Red{ background-color: red !important; color: red;}
.Orange{ background-color: orange !important; color: orange;}
.global_case{border-bottom:2px solid #282c34; border-top:2px solid #282c34; padding: 5px; margin-bottom: 20px;}
h1 span{border-bottom: 5px dotted red; text-transform: uppercase;}
.global_case ul.listitem li{width: 85px;}

ul#listitem{
  list-style: none; border-bottom: 2px solid #ffffff; background-color: palegreen; margin: 0px;
  display: inline-block; width: 100%; padding: 0;  vertical-align: middle; overflow: auto;
}
ul.listitem.mng{ font-weight: bold; color: #e74c3c; margin: 0px; padding: 0px;}
ul.listitem.mng li{color:red;  text-transform: uppercase; font-weight: bold;  display: inline-block; width: 75px; margin-bottom: 5px;}
ul#listitem li{ color: white; font-weight: bold;  display: inline-block; width: 75px; vertical-align: text-top;  padding-bottom: 5px; margin-bottom: 5px;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
